numpy
GitPython 
soiltexture
SALib
#pyvistaqt
itkwidgets
rosetta-soil
rich
pandas
natsort
shapely

pypandoc
# Optionnal packages
# resipy

# Documentation building requirements
numpy
numpydoc
docutils

#nbsphinx
sphinx-thebe
jupyter-sphinx #==0.3.*
sphinxcontrib-bibtex
matplotlib
vtk>=9
myst_nb
jupytext
geopandas
linkify-it-py

#pydata-sphinx-theme
#pypandoc
#pytest-sphinx
#sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-gallery
#sphinx-toolbox
#sphinxcontrib-asciinema
#sphinxcontrib-websupport
typed-ast


# pypi building requirements
#twine

sphinx
sphinx-book-theme
sphinx-gallery
sphinx-design
sphinx-copybutton
jupyter-sphinx
ipykernel



pyvista
vtk>=9
trame

