numpy
GitPython 
soiltexture
SALib
#pyvistaqt
itkwidgets
rosetta-soil
rich
pandas
natsort
shapely

# Optionnal packages
# resipy

# Documentation building requirements
numpy
numpydoc
docutils
sphinx
sphinx-book-theme #==0.2.*
sphinx-gallery #==0.10.*
sphinx-design #==0.2.*
sphinx-copybutton #==0.5.*
sphinx-thebe
jupyter-sphinx #==0.3.*
sphinxcontrib-bibtex
matplotlib
pyvista
vtk>=9
myst_nb
jupytext
geopandas
linkify-it-py
trame
trame_vtk

# pypi building requirements
#twine
