numpy
GitPython 
soiltexture
SALib
pyvistaqt
itkwidgets
rosetta-soil
rich
pandas
natsort
shapely
imageio
nltk

# Optionnal packages
# resipy

# Documentation building requirements
numpydoc
sphinx==4.5.*
sphinx-book-theme==0.2.*
sphinx-gallery==0.10.*
sphinx-design==0.2.*
sphinx-copybutton==0.5.*
jupyter-sphinx==0.3.*
sphinxcontrib-bibtex
matplotlib
pyvista
vtk
myst_nb
myst-parser #https://myst-parser.readthedocs.io/en/latest/intro.html
geopandas

# pypi building requirements
# twine
